<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/newSong.css}">
</head>
<body>
	<div class="container">
		<div class="content">
			<form action="addPlaylist" method="post">
			<label>Playlist name : </label>
			<input class="input-field" type="text" name="name">
			<br><br>
			<div th:each="song:${songs}">
				<input type="checkbox" th:name="songs" th:value="${song.id}">
				<label th:text="${song.name}"></label>
			</div>
			<br>
			<input class="submit" type="Submit" value="ADD PLAYLIST">
			</form>
		</div>
	</div>
</body>
</html>