86% of storage used … If you run out, you won't have enough storage to create, edit, and upload files. Get 100 GB of storage for $1.99 $0.49/month for 3 months.
customerHome.html
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Customer home</h1>

	<div th:unless="${isPremium}"  class="non-premium">
		<a href="pay">Get premium</a>
		<br>
		<a href="logout">LOGOUT</a>
	</div>
	
	
	
	<div th:if="${isPremium}"  class="premium">
		<table border>
		<thead>
			<tr>
				<th>Name</th>
				<th>Artist</th>
				<th>Genre</th>
				<th>Play</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="song:${songs}">
				<td th:text="${song.name}">			</td>
				<td th:text="${song.artist}">		</td>
				<td th:text="${song.genre}">		</td>
				<td >
					<audio controls>
        				<source th:src="${song.link}" type="audio/mpeg">
    				</audio>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	
	
</body>
</html>